page-modificar-reserva {
    .item-md{
        background-color:transparent;
    }
    .button-default-md{
        background-color:#76323F;
        width: 85%;
        margin: auto;
        margin-top: 100%;
    }
    .scroll-content{
        padding-bottom: 0px!important;
    }
}
