page-informacion {
    .button-default-md{
        background-color:#76323F;
       
    }
    #buscar{
        width: 50%;
        margin: 0 auto;
    }
    .item-md{
        margin-top:1em;
    }
}
