page-perfil {
    .item-md{
        background-color:transparent;
    }
    .button-default-md{
        width: 49%;
        background-color:#76323F;
       
    }
    h4{
        color:#76323F;
        text-align:center;
        font-size: 1.2em!important;
    }
    .scroll-content{
        margin-top: 30px!important;
    }
    .button-inner{
        margin-left: -2px;
    }
    p{
        font-size: 1em!important;
    }
    .button-inner{
        font-size: 0.86em!important;
    }
  
}
