page-agregarempleado {
    .item-md{
        background-color: transparent;
    }
    .button-default-md{
        background-color:#76323F;
        margin-top:85%;
    }
    .ng-dirty{
        font-size: 1.1em;
    }
    .scroll-content{
        padding-bottom: 0px!important;
    }
}
