page-carta {
    .item-md{
        background-color:transparent;
        border-bottom: solid 1.5px!important;
        border-bottom-color: bisque!important;
       
    }
    .item-md:hover{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
    ion-label{
        white-space: normal;
    }
    .button-md{
        background-color: #76323F;
        margin-bottom: 2em!important;
        margin-top: 2em!important;
        width: 80%;
        margin: 0 auto;
    }

    .icon-md{
        font-size: 25px;
    }
    h4{
        font-size: 3.0rem;
        color:#76323F;
    }
   
    .ion-md-information-circle{
        color: #76323F;
    }
    b{
      float: right;
    }
    .item-md p{
        font-size: 1.8rem;
        color:#76323F;
        margin-left: 2em;
    }
    p>button{
        margin-top: -4.5px!important;
    }
    img{
        border:solid 1px;
    }
    p>b{
        color:black;
    }
    @-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
}
