page-modificarproducto {
    .button-default-md{
        background-color:#76323F;
        margin-top: 1.5em;
    }
    .row>ion-item{
        width:50%
    }

    .colimagen{
        text-align: right;
    }

    #cargar{
        font-size: 1.1em;
        padding: 1em;
    }
}
