<!doctype html>
<html>
<head>
    <title>Pruebas Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="jumbotron text-center">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                    <p>
                        <strong>id</strong>: <%= user[0].idUsuario %><br>
                        <strong>Nick</strong>: <%= user[0].nick %><br>
                        <strong>Nombre</strong>: <%= user[0].nombre %><br>
                        <strong>email</strong>: <%= user[0].email %><br>
                        <strong>token(RRSS)</strong>: <%= user[0].tokenrrss %><br>
                        <br>
                        <a href="/updateprofile" class="btn btn-default"><span class="fa fa-user"></span>Modificar Perfil</a>
                        <br>
                        <a href="/deleteprofile" class="btn btn-default"><span class="fa fa-user"></span>Eliminar Perfil</a>
                    </p>

            </div>

        </div>

    </div>

</div>
</body>
</html>
