page-iniciarpedido {
    .item-md{
        background-color:transparent;
    }
    .button-default-md{
        background-color:#76323F;
        margin-top: 1.5em!important;
        width: 85%;
        margin: 0 auto;
        
    }
    h3{
        margin-top:1.2em;
        color:#76323F;
        font-size: 1.6em!important;
    }
    h4{
        color:black;
        font-size: 1.2em!important;
    }
    #actual{
        width: 45%;
        height: 2em!important;
    }
  
    p{
        font-size: 1em!important;
    }
}
