page-agregarproductopedido {

    .item-md{
        background-color:transparent;
    }
    .col{
        color:#76323F;
        text-align: center;
        
    }
    .label-md{
        margin-top:12px;
    
    }
    .bar-buttons-md{
       margin-top: -30px;
    }
    button{
        color:#76323F;
        background-color:transparent;
        font-size: 2em;
        margin-bottom: 12px;
        margin-top: 5px;
        
    }
    .button-md{
        background-color:#76323F;
        margin-bottom: 2em;
    }

}
