page-registro {
    .button-md{
        margin-top: 2em;
        background-color:#76323F;
    }
    .ng-dirty{
        font-size: 1.1em;
    }
    .button-default-md{
        background-color:#76323F;
        width: 50%;
        margin: 0 auto;
        margin-top: 2.5em;
    }
}
