page-modidifcarrestaurante {

    .row>button{
        width: 45%;
    }

    .row>label{
        width: 45%;
    }

    .button-md{
        background-color:#76323F;
    }
    .button-default-md{
        background-color:#76323F;
        width: 50%;
        margin: 0 auto;
        margin-top: 2.5em;
    }
}
