page-carta {
    .button-md{
        background-color:#76323F;
    }
    .badge-md{
        top:-8px;
         left:20px;
         position: absolute;
    }
    .icon-md{
        margin-right: 15px;
    }
    h4{
        color:#76323F;
        text-align:center;
        font-size: 1.2em!important;
    }
    img{
        border:solid 1px;
    }
}
