page-comentarios {
    .button-default-md{
        background-color:#76323F;

    }
    .ng-dirty{
        font-size: 1.1em;
    }
    #buscar{
        width: 50%;
        margin: 0 auto;
    }
    ion-label{
        white-space: normal
    }
    ion-row>span{
        font-size: 0.5em!important;
        margin-right: 1em;
        margin-top: 0.74em;
    }
    .button-md{
        background-color:#76323F;
    }
}
