page-mis-reservas {
    .item-md{
        background-color:transparent;
    }
    .button-default-md{
        background-color:#76323F;
        margin-top: 1.5em;
        margin-left: 1em;
    }
    h4{
        color:#76323F;
        //text-align:center;
        font-size: 1.3em!important;
    }
    .scroll-content{
        margin-top:35px!important;
    }
    p{
        font-size: 1em!important;
    }
    #no{
        margin-top: 30%;
        font-size: 2em;
    }
    #enlance{
        color: rgb(145, 60, 11);
    }
    #size{
        font-size:3em;
    }
}
