page-loginempleados {

    .button-default-md{
        background-color:#76323F;
        width: 80%;
        margin: 0 auto;
       
    }
 
    .button-md{
        margin-top: 3em;
    }
    .toolbar-md{
        color:#D7CEC7!important;
    }
    .scroll-content{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 0px!important;
    }
    #logo{
        align-self: center;
        margin-bottom: 2em;
    }
    img{
        margin-bottom: 10em!important;
    }
}
