page-historial {
    .item-md{
        background-color:transparent;
    }
    h4{
        font-size: 1.8rem!important;
        color:#76323F;
    }
    .button-default-md{
        background-color:#76323F;
        float:right;
        margin-bottom: 10px!important;
    }
    img{
        border: solid 1px;
        width: 120px!important;
        height: 120px!important;
    }

}
