page-modificarempleado {
    .button-md{
        background-color:#76323F;
    }
    .button-default-md{
        background-color:#76323F;
        width: 80%;
        margin: 0 auto;
        margin-top: 100%;
    }
    .scroll-content{
        padding-bottom: 0px!important;
    }
}
